@model MobileJqueryMvc.Models.LogOnModel

@{
    ViewBag.Title = "Log On";
}
<div data-role="content"> 
@using (Html.BeginForm()) {
    <div>        
        <div data-role="fieldcontain">
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <div data-role="fieldcontain">
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div data-role="fieldcontain">
            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
        @Html.ActionLink("Login", "Index", "Client", new { area = "Mobile" }, new { data_role = "button" })        
    </div>
}
</div>
@Html.Partial("_AnonFooter")